.projects-container {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.search-bar {
  margin: 20px 0;
  text-align: center;
}

  .ProjSearchBar{
  padding: 8px;
  width: 1400px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.ProjSearch{
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Style project titles and descriptions */
.ProjTitle{
  text-align: left; /* Align project titles to the left */
  margin: 0; /* Remove default margin */
  font-weight: bold; /* Make titles bold */
  font-size: 20px; /* Adjust font size as needed */
  padding:10px;
}

.ProjDesc{
  text-align: left; /* Align descriptions to the left */
  margin: 0; /* Remove default margin */
}
.project-box {
  border: 1px solid #ccc; /* Add a border around each project box */
  padding: 20px; /* Add some padding for spacing */
  margin: 10px; /* Adjust margin as needed */
  background-color: #f0f0f0; /* Background color for the project box */
  border-radius: 5px; /* Rounded corners for the project box */
  text-align: left; /* Align project content to the left within the box */
}
